* {
    box-sizing: border-box;
}

body {
    font-family: 'Gothic A1', sans-serif;
    font-size: 62.5%;
    background-color: #E2CE45;
}

body {
    background: linear-gradient(-45deg, #E2CE45, #E2CE45, #F28530, #B8C269);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
}

.intro-text {
    position: relative;
    left: 50%;
    top: 150px
}

h3 {
    font-size: 1.5rem;
    font-weight: 200;
}

#introduction-button {
    background-color: transparent;
    font-size: 2rem;
    border:solid 3px #000;
    border-radius: 5px;
}

#introduction-button:hover {
    background-color: #000;
    color: #E2CE45;
}


/*Main Screen*/

#main-screen {
    display: none;
    background-image: url("assets/cloudsFinal.png");
    background-size: contain;
}

.film-main {
    display: flex;
    flex-wrap: wrap;
}

.film-container {
    margin: 0 20px;
    width: 30%;
    padding: 20px;
}

.film-container:hover {
    transform: scale(1.02);
}

.film-poster > img {
    height: 600px;
    width: 100%;
    border: solid 5px #fff;
    border-radius: 5px;
}

.film-button > button {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 10s ease infinite;
    font-size: 2rem;
    border:solid 5px #fff;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 7px;
}

.film-button > button:hover {
    background: #fff;
    color: #638ECB;
}

/* Detail Screen */

#detail-screen {
    display: none;
    height: 900px;
    width: 100%;
    /*background-color: #23d5ab;*/
}

#detail-screen h1 {
    font-size: 4rem;
    font-weight: 600;
    padding-left: 50px;
}

#detail-screen p {
    font-size: 1.3rem;
}

#detail-screen h5 {
    font-size: 2rem;
}

#detail-screen img {
    height: 750px;
    width: 500px;
}

.detail-container {
    display: flex;
}

.detail-info-container {
    padding: 50px;
}

.extra-info-button-container {
    display: flex;
    justify-content: space-evenly;
}

#detail-back-button {
    margin-top: 50px;
    background-color: transparent;
    font-size: 2rem;
    border:solid 3px #000;
    border-radius: 5px;
}

#detail-back-button:hover {
    background-color: #000;
    color: #E2CE45;
}

/* Animations */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Media Queries */

@media screen and (max-width: 1216px) {
    .film-container {
        width: 45%;
    }
}

@media screen and (max-width: 820px) {
    .film-container {
        width: 80%;
    }
    .detail-container {
        flex-direction: column-reverse;
    }
}
